plotly
asgiref
crispy-bootstrap5
django-crispy-forms
python-dateutil
Django
numpy
packaging
pandas
pytz
six
sqlparse
tenacity
tzdata
babel
black
click
colorama
contourpy
cycler
fonttools
kiwisolver
matplotlib
mypy-extensions
pathspec
platformdirs
pyparsing
tkcalendar
python-decouple
gunicorn