{%  extends "base.html" %}  

{% load crispy_forms_tags %}

{% block page_title %}
  {% if categoria.pk %}
    Editar Categoria
  {% else %}
    Nova Categoria
  {% endif  %}
{% endblock page_title %}

{% block content %}
    {% if categoria.pk %}
      <h1>Editar Categoria</h1>
    {% else %}
      <h1>Nova Categoria</h1>
    {% endif  %}
    
    <form method="POST">
      {% csrf_token %}

      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
{% endblock content %}

        
  