{% extends 'base.html' %}

{% block page_title %}
    Excluir Categoria
{% endblock page_title %}

{% block content %}
    <h1>Excluir Categoria?</h1>

    <p>Tem certeza que deseja excluir a categoria <strong>{{ categoria.nome }}</strong>?</p>

    <form method="POST">
        {% csrf_token %}

        <button type="submit" class="btn btn-danger">Excluir</button>
        <a href="{% url 'categoria_list' %}" class="btn btn-primary">Cancelar</a>
    </form>
{% endblock content %}