{%  extends "base.html" %}  

{% load crispy_forms_tags %}

{% block page_title %}
  {% if receitas.pk %}
    Editar Receitas
  {% else %}
    Nova Receita
  {% endif  %}
{% endblock page_title %}

{% block content %}
    {% if receitas.pk %}
      <h1>Editar Receitas</h1>
    {% else %}
      <h1>Nova Receita</h1>
    {% endif  %}
    
    <form method="POST">
      {% csrf_token %}

      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
{% endblock content %}
